<%= form_for(edit_meta_path(@meta)) do |f| %>
  <% if @meta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meta.errors.count, "error") %> prohibited this meta from being saved:</h2>

      <ul>
      <% @meta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= label(:meta, :name) %>
    <%= text_field(:meta, :name, disabled:true) %>
  </fieldset>
  <fieldset>
    <%= label(:meta, :display_name) %>
    <%= text_field(:meta, :display_name) %>
  </fieldset>
  <fieldset>
    <%= label(:meta, :description) %>
    <%= text_area(:meta, :description) %>
  </fieldset>
  <fieldset>
    <!-- TODO: link this to units in a drop-down -->
    <%= label(:meta, :units) %>
    <%= text_field(:meta, :units) %>
  </fieldset>
  <fieldset>
    <%= label(:meta, :user_defined, "User Defined?") %>
    <%= check_box(:meta, :user_defined) %>
  </fieldset>
  <fieldset>
    <%= label(:meta, :datatype) %>
    <%= select(:meta, :datatype, options_for_select(["string", "double", "integer", "boolean"])) %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
