<%= bootstrap_form_for(@meta, layout: :horizontal) do |f| %>
  <% if @meta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meta.errors.count, "error") %> prohibited this meta from being saved:</h2>

      <ul>
      <% @meta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.text_field :name, disabled: true, control_col: "col-sm-4" %>
  </fieldset>
  <fieldset>
    <%= f.text_field :display_name, control_col: "col-sm-4" %>
  </fieldset>
  <fieldset>
    <%= f.text_area :description, control_col: "col-sm-4" %>
  </fieldset>
  <fieldset>
    <%= f.select(:datatype, options_for_select(["string", "double", "integer", "boolean"]), control_col: "col-sm-4") %>
  </fieldset>
  <fieldset>
    <%= f.select :unit, options_from_collection_for_select(Meta.get_allowable_units, :id, :name_and_symbol, @meta.unit.id), control_col: "col-sm-4" %>
  </fieldset>
  <fieldset>
    <%= f.form_group :user_defined do %>
      <%= f.check_box :user_defined, label: "User-defined metadata", control_col: "col-sm-4" %>
    <% end %>
  </fieldset>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>

<% end %>
