<h2>Metadata</h2>

<p>The following lists all metadata fields currently added to the DEnCity API</p>

<table class="tablesorter table table-striped">
  <tr>
    <th>Machine Name</th>
    <th>Display Name</th>
    <th>Datatype</th>
    <th>Units</th>
    <th>User-Defined?</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @metas.each do |meta|  %>
    <tr>
      <td><%= link_to meta.name, meta_path(meta) %></td>
      <td><%= meta.display_name %></td>
      <td><%= meta.datatype %></td>
      <td><%= link_to meta.units, unit_path(Unit.where(machine_name: meta.units).first) %></td>
      <td><%= meta.user_defined %></td>
      <td><%= meta.description %></td>
      <td><%= link_to 'Edit', edit_meta_path(meta) %> <%#= link_to 'Destroy', meta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<br>

<%#= link_to 'Add a New Metadata Field', new_meta_path %>
