<h2>Metadata</h2>

<p>The following lists all metadata fields currently added to the DEnCity API</p>

<table class="tablesorter table table-striped">
  <tr>
    <th>Display Name</th>
    <th>Short Name</th>
    <th>Name</th>
    <th>Datatype</th>
    <th>Units</th>
    <th>User-Defined?</th>
    <th>Description</th>
    <% if can? :update, Meta %><th>Actions</th><% end %>
  </tr>
  <% @metas.each do |meta|  %>
    <tr>

      <td><%= link_to meta.display_name, meta_path(meta) %></td>
      <td><%= meta.short_name %></td>
      <td><%= meta.name %></td>
      <td><%= meta.datatype %></td>
      <td><%= link_to meta.unit.symbol, unit_path(meta.unit) %></td>
      <td><%= meta.user_defined %></td>
      <td><%= meta.description %></td>
      <% if can? :update, meta %><td><%= link_to 'Edit', edit_meta_path(meta) %> <%#= link_to 'Destroy', meta, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
  <% end %>
</table>


<br>

<%#= link_to 'Add a New Metadata Field', new_meta_path %>
