
<h2>Create a Simulation<% if not @state.nil? %>: Select Weather File <% end %></h2>

<div id="openstudio-content">
  
  <% if @state.nil? %>
    <p>Fill out the following fields to create your energy simulation file.</p>
    <%= form_tag({:action => 'create_file_form'}, :multipart => true) do %>
  
      <p><%= label_tag(:length, "Length") %><%= text_field_tag('length', @defaults[:length]) %>m<br></p>
      <p><%= label_tag(:width, "Width ") %><%= text_field_tag('width', @defaults[:width]) %>m<br></p>
      <p><%= label_tag(:height, "Height") %><%= text_field_tag('height', @defaults[:height]) %>m<br></p>
      <p><%= label_tag(:num_floors, "Number of Floors") %> <%= text_field_tag('num_floors', @defaults[:num_floors], :size => 9) %><br></p>
    
      <!--select location-->
      <p><%= label_tag(:state, "State") %> <%= select_tag "state", options_from_collection_for_select(@states, "abbr", "state", 'CO') %><br></p>
      <p><%= label_tag(:location, "City Name") %><%= text_field_tag('location', @defaults[:location]) %> <br></p>
      
      <%= submit_tag " Create Simulation " %>
    <% end %>
  
  <% else %>
    <p>Select the appropriate weather file to create your energy simulation file.</p>
    <%= form_tag({:action => 'create_file'}, :multipart => true) do %>
  
     <p> <%= label_tag(:length, "Length") %><%= text_field_tag('length', @defaults[:length]) %>m<br></p>
      <p><%= label_tag(:width, "Width ") %><%= text_field_tag('width', @defaults[:width]) %>m<br></p>
      <p><%= label_tag(:height, "Height") %><%= text_field_tag('height', @defaults[:height]) %>m<br></p>
     <p> <%= label_tag(:num_floors, "Number of Floors") %> <%= text_field_tag('num_floors', @defaults[:num_floors], :size => 9) %><br></p>
    
      <!--show drop down-->
     <p> <%= label_tag(:selected_location, "Weather File") %> <%= select_tag "selected_location", options_for_select(@bcl_locations) %><br></p>
      
      <%= submit_tag " Create Simulation " %>
    <% end %>
    
  <% end %>
  
</div>