<%= bootstrap_form_for(@structure, layout: :horizontal) do |f| %>
  <% if @structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@structure.errors.count, "error") %> prohibited this structure from being saved:</h2>

      <ul>
      <% @structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%#= f.select :analysis_id,options_from_collection_for_select(Analysis.all, :id, :analysis_name), control_col: 'col-sm-4' %>
  </fieldset>

  <%= f.form_group do %>
    <%= f.submit 'Update', class: 'btn btn-small btn-primary' %>
  <% end %>
<% end %>

