
<%= form_tag(request.fullpath, :method => :get, :id => "search_results") do %>
    <div class="row-fluid">
      <div class="col-md-3">
        <h2>Facet</h2>
        <div class="facet facet-type">
        </div>

        <%#= render("facet", :title => "Building Area", :facet_by => :building_area) %>
        <%= render("facet", :title => "Building Area (m^2)", :facet_by => :building_area) %>
        <%= render("facet", :title => "EUI (MJ/m2)", :facet_by => :total_site_eui) %>

      </div>
      <div class="col-md-9">
        <h2>Buildings
          <% if can? :create, Structure %><%= link_to "[ add new building ]", new_structure_path, class: "edit-link" %>
          <% end %></h2>

        <h3>Total Results: <%= number_with_delimiter(@search.total) %></h3>

        <div class="row-fluid search-options">
        </div>
        <div id="results">
          <table class="tablesorter table table-striped">
            <thead>
            <tr>
              <th>Analysis Name</th>
              <th>Added</th>
              <th>Total Site EUI</th>
              <th>Total Source EUI</th>
              <% if can? :manage, :all %>
                  <th>User</th>
              <% end %>
              <% if current_user %>
                  <th>Actions</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @search.each_hit_with_result do |hit, structure| %>
                <tr>
                  <td><%= link_to structure.analysis.display_name, structure %></td>
                  <td> <%= time_ago_in_words(structure.created_at) %> ago</td>
                  <td><%= structure['total_site_eui'] %> MJ/m&sup2;</td>
                  <td><%= structure['total_source_eui'] %> MJ/m&sup2;</td>
                  <% if can? :manage, :all %>
                      <td><%= structure.user.email unless structure.user.nil? %></td>
                  <% end %>
                  <% if current_user %>
                      <td>
                      <% if can? :manage, structure %><%= link_to 'Edit', edit_structure_path(structure) %>
                          | <%= link_to 'Destroy', structure, method: :delete, data: {confirm: 'Are you sure?'} %>
                      <% end %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%#= will_paginate @search %>
    </div>

<% end %>

<% content_for(:custom_js) do %>
    <%= javascript_include_tag "search" %>
<% end %>


