<h2><% if can? :manage, :all %>All <% end %>Buildings <% if can? :create, Structure %><%= link_to "[ add new building ]", new_structure_path, class: "edit-link" %><% end %></h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <% if can? :manage, :all %><th>User</th><% end %>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= link_to structure.name, structure %></td>
        <% if can? :manage, :all %><td><%= structure.user.email %></td><% end %>
        <td><% if can? :manage, structure %><%= link_to 'Edit', edit_structure_path(structure) %> | <%= link_to 'Destroy', structure, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
