<h2>Building</h2>
<h3 class="edit-name"><%= @structure.id %> <% if can? :update, @structure %><%= link_to "[ edit ]", edit_structure_path(@structure), class: "edit-link" %><% end %></h3>
<table class="table table-striped">
  <% @structure.attributes.keys.each do |key| %>
    <% unless key == "created_at" or key == "updated_at" or key == "provenance_id" %>
      <% if key == 'user_id' and !can? :update, @structure  %>
      <% else %>
        <tr>
          <th> <%= key == "_id" ? "ID" : key.humanize%></th>
          <td><% if key == 'user_id' %><%= @structure.user.email %><% else %><%= @structure[key] %> <% meta = Meta.find_by(name: key) rescue nil %><%= meta.unit.symbol unless meta.nil? || meta.unit.nil? %><% end %></td>
        </tr>
      <% end %>
    <% end %>

  <% end %>
</table>

<h3>Provenance</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Analysis Types</th>
  </tr>
  <% if @structure.provenance %>
  <tr>
    <td><%= link_to @structure.provenance.display_name, provenance_path(@structure.provenance) %></td>
    <td><%= @structure.provenance.analysis_types.join(', ') %></td>
  </tr>
  <% end %>
</table>

<h3>Measures</h3>
<% if @structure.measure_instances %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="30%">Measure Name</th>
      <th>Argument Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <% @structure.measure_instances.sort.each do |measure| %>
      <tr>
         <td colspan="3"><% if measure.measure_description.nil? %> <%= measure.uuid%> <% else %><%= link_to measure.measure_description.name, measure.measure_description %><% end %></td>
      </tr>
      <% unless measure.arguments.nil? %>
        <% measure.arguments.each do |arg| %>
          <tr>
            <th>&nbsp;</th>
            <td><%= arg[0] %></td>
            <td><%= arg[1] %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>

<!--
<h3>Attachments</h3>
<table class="table table-striped">
  <tr>
    <th>Filename</th>
    <th>Actions</th>
  </tr>
  <%# @structure.attachments.each do |file| %>
      <tr>
        <td> file.filename</td>
        <td> file.filename</td>
        <td>BUTTON TO DOWNLOAD</td>
      </tr>
  <%# end %>
</table>
-->

