<h2>Building</h2>
<h3 class="edit-name"><%= @structure.id %> </h3>

<h3>Analysis</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Analysis Types</th>
  </tr>
  <% if @structure.analysis %>
  <tr>
    <td><%= link_to @structure.analysis.display_name, analysis_path(@structure.analysis) %></td>
    <td><% if @structure.analysis.analysis_types.count > 0 %><%= @structure.analysis.analysis_types.join(', ') %><% end %></td>
  </tr>
  <% end %>
</table>

<h3>Metadata</h3>
<table class="table table-striped">
  <% @structure.attributes.keys.each do |key| %>
    <% unless key == "created_at" or key == "updated_at" or key == "analysis_id" %>
      <% if key == 'related_files' %>
          <tr>
            <th><%= key.humanize %></th>
            <td>
              <% @structure.related_files.each do |f| %>
                <%= link_to f.file_name, download_file_structure_path(@structure, related_file_id: f.id) %><br/>
              <% end %>
            </td>
          </tr>
      <% else %>
        <tr>
          <th> <%= key == "_id" ? "ID" : key.humanize%></th>
          <td><% if key == 'user_id' %><%= @structure.user.email %><% else %><%= @structure[key] %> <% meta = Meta.find_by(name: key) rescue nil %><%= meta.unit.symbol unless meta.nil? || meta.unit.nil? %><% end %></td>
        </tr>
      <% end %>
    <% end %>

  <% end %>
</table>

<h3>Measures</h3>
<% if @structure.measure_instances %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="30%">Measure Name</th>
      <th>Argument Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <% @structure.measure_instances.sort.each do |measure| %>
      <tr>
         <td colspan="3"><% if measure.measure_description.nil? %> <%= measure.uuid%> <% else %><%= link_to measure.measure_description.name, measure.measure_description %><% end %></td>
      </tr>
      <% unless measure.arguments.nil? %>
        <% measure.arguments.each do |arg| %>
          <tr>
            <th>&nbsp;</th>
            <td><%= arg[0] %></td>
            <td><%= arg[1] %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>

