<%= bootstrap_form_for(@measure_description, layout: :horizontal) do |f| %>
  <% if @measure_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure_description.errors.count, "error") %> prohibited this measure_description from being saved:</h2>

      <ul>
      <% @measure_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.text_field :name, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :display_name, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :uuid, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :version_id, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :type, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :description, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :modeler_description, control_col: 'col-sm-4' %>
  </fieldset>

  <%= f.form_group do %>
    <%= f.submit 'Update', class: 'btn btn-small btn-primary' %>
  <% end %>
<% end %>
