<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  <br/>
  
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  
  <br/>
 <div>API Key<br />
<%= resource.authentication_token.blank? ? "No API Key" : resource.authentication_token %>
<p><%= link_to "Generate API Key", api_keys_path(:user_id => resource.id), :method => :post, :confirm => "Are you sure?"  %>
<%= link_to "Delete API Key", api_key_path(resource), :method => :delete, :confirm => "Are you sure?"  %></p>
 </div>
  
  <br/>

  <div><%= f.submit "Update" %></div>
<% end %>

<br/>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
