<h1>Listing inputs</h1>

<table>
  <tr>
    <th>Input</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inputs.each_with_index do |input, index| %>
  <tr>
    <td><%= index %>. <%= input._id %></td>
    <td><%= input[:created_at] %></td>
    <td><%= link_to 'Show', input %></td>
    <td><%= link_to 'Edit', edit_input_path(input) %></td>
    <td><%= link_to 'Destroy', input, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Input', new_input_path %>
