<h1>Building Parameters</h1>
<br/>
<p>Enter your building's parameters to retrieve estimated results.</p>

<div id="input-form">
  
  <%= form_for(@input, :url => results_path) do |f| %>
    <% if @input.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@input.errors.count, "error") %> prohibited this input from being saved:</h2>
  
        <ul>
        <% @input.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <fieldset>
      <legend>Location</legend
    <p>
      <%= f.label :address, "Address" %>: 
      <%= f.text_field :address, :size => 70 %>
    </p>
    </fieldset>
    
   <!--- 
    <p><%= f.label :climate_zone, "Climate Zone" %><br/>
  <%= f.select(:climate_zone, grouped_options_for_select(@climate_zones), :include_blank => true) %></p>
  
    <p><%= f.label :building_type, "Building Type" %><br/>
  <%= f.select(:building_type, options_for_select(@building_types), :include_blank => true) %></p>
    --->
    
    <fieldset>
      <legend>Window-to-Wall Ratio by Facade</legend>
      <div class="left">
        <p>&nbsp;<%= f.label :wwr_north, "North" %>:
        <%= f.text_field :wwr_north, :size => 10 %></p>
        
        <p><%= f.label :wwr_south, "South" %>:
        <%= f.text_field :wwr_south, :size => 10 %></p>
      </div>
      <div class="right">
        <p>&nbsp;<%= f.label :wwr_east, "East" %>: 
        <%= f.text_field :wwr_east, :size => 10 %></p>
                
        <p><%= f.label :wwr_west, "West" %>:
        <%= f.text_field :wwr_west, :size => 10 %></p>
      </div>
    </fieldset>
    
    <fieldset>
      <legend>Floor-to-Sill Height by Facade</legend>
      <div class="left">
        <p>&nbsp;<%= f.label :height_north, "North" %>:
        <%= f.text_field :height_north, :size => 10 %> ft</p>
        
        <p><%= f.label :height_south, "South" %>:
        <%= f.text_field :height_south, :size => 10 %> ft</p>
      </div>
      <div class="right">    
        <p>&nbsp;<%= f.label :height_east, "East" %>:
        <%= f.text_field :height_east, :size => 10 %> ft</p>
                
        <p><%= f.label :height_west, "West" %>:
        <%= f.text_field :height_west, :size => 10 %> ft</p>
      </div>
    </fieldset>
    
    <fieldset>
      <legend>U-factor</legend>
    
      <p><%= f.label :wall_u_factor, "Wall" %>:
      <%= f.text_field :wall_u_factor, :size => 10 %> Btu/ft&sup2;&middot;&deg;F&middot;h </p>
              
      <p><%= f.label :attic_u_factor, "Attic" %>:
      <%= f.text_field :attic_u_factor, :size => 10 %> Btu/ft&sup2;&middot;&deg;F&middot;h </p>  
    
    </fieldset>
    <fieldset>
      <legend>Other</legend>
          
      <p><%= f.label :north_axis, "North Axis Orientation" %>:
      <%= f.text_field :north_axis,  :size => 10 %></p>
      
      <p><%= f.label :lighting_power_density, "Lighting Power Density" %>:
      <%= f.text_field :lighting_power_density, :size => 10 %> W/ft&sup2;</p>
      
    </fieldset>
              
   <!--- <p><%#= f.label :exterior_lighting_power, "Exterior Lighting Power" %><br/>
    <%#= f.text_field :exterior_lighting_power, :size => 10 %> W</p>  --->
    
    <div class="actions">
      <%= f.submit "Search" %>
    </div>
  <% end %>
</div>