<h1>Search Results</h1>
<br><br>
<h2> Statistics </h2>

<h3> Regression Coefficients </h3>
  <table cellpadding="5px">
    <tr>
      <th>Variable</th>
      <th>Coeff</th>
    </tr>
    
    <% @lm.each do |l| %>
      <tr>
        <td><%= l[0] %><td>
        <td><%= l[1] %><td>
      </tr>
    <% end %>
  </table>


<h3> General Statistics </h3>  
  <table cellpadding="5px">
    <tr>
      <th>Name</th>
      <th>Min</th>
      <th>1st Qu</th>
      <th>Median</th>
      <th>Mean</th>
      <th>3rd Qu</th>
      <th>Max</th>
    </tr>
    <% @reply.each do |rep| %>
      <tr>
        <td><%= rep[:name] %></td>
        <td><%= rep[:data]["min"] %></td>
        <td><%= rep[:data]["1stqu"] %></td>
        <td><%= rep[:data]["median"] %></td>
        <td><%= rep[:data]["mean"] %></td>
        <td><%= rep[:data]["3rdqu"] %></td>
        <td><%= rep[:data]["max"] %></td>
      </tr>
    <% end %>
  </table>
<h3> Correlation Matrix </h3>  
  <table cellpadding="5px">
    <% @corr_summary.each do |col| %>
      <tr>
      <% col.each do |row| %>
        <td><%= row %></td>
      <% end %>
      </tr>
    <% end %>
  </table>

<h3> Diagnostic Plots </h3>
  <table cellpadding="5px">
    <% cnt = 0 %>
    <% @images.each do |image| %>
      <% next if image[:group] != "general" %>

      <% cnt += 1 %>
      <% if (cnt-1) % 4 == 0 %><tr><% end %>
        <td><%= image[:name] %> <br/>
        <%= lightbox_image_tag(image[:relpath_tn], image[:relpath], {:class=>"images"}, :title => "#{image[:name]}") %>
        </td>
      <% if cnt % 4 == 0 %></tr><% end %>
    <% end %>
  </table>
<h3> Variable Plots </h3>
  <table cellpadding="5px">
    <% cnt = 0 %>
    <% @images.each do |image| %>
      <% next if image[:group] != "variable" %>

      <% cnt += 1 %>
      <% if (cnt-1) % 4 == 0 %><tr><% end %>
        <td><%= image[:name] %> <br/>
        <%= lightbox_image_tag(image[:relpath_tn], image[:relpath], {:class=>"images"}, :title => "#{image[:name]}") %>
        </td>
      <% if cnt % 4 == 0 %></tr><% end %>
    <% end %>
  </table>

<h2> By Location </h2>
<p>The following buildings are the closest in proximity to the address you entered.</p>

<% if @edis.size > 0 %>
  <table cellpadding="5px">
    <tr>
      <th>Building</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Timestamp</th>
    </tr>
  
  <% @edis.each_with_index do |edifice, index| %>
    <tr>
      <td><%= index+1 %>. <%= link_to edifice.unique_name, edifice %></td>
      <td><%= edifice['latitude'] %></td>
      <td><%= edifice['longitude'] %></td>
      <td> <% if !edifice.created_at.nil? %><%= edifice.created_at.strftime("%Y-%m-%d %H:%M") %><% end %></td>
    </tr>
  <% end %>
  
  </table>
<% else %>
  
  <div style="padding-left:20px;">
    <p> There are no buildings near the addressed you entered. </p>
    <p> Location:  <%= @input.address %> </p>
    <p> Coordinates:  <% if !@coords.nil? %><%= @coords[0] %>, <%= @coords[1] %><% end %> </p>
  </div>
<% end %>

<br/><br/>

<h2> By Input Parameter </h2>

<p> Coming Soon </p>

<br/><br/>

<%= link_to 'Search Again', inputs_path %>