<h2>User Account</h2>
<h3 class="edit-name"><%= @user.email %>
  <% if current_user == @user %><%= link_to "[ edit ]", edit_user_registration_path(current_user), class: "edit-link" %>
      <% else %><%= link_to "[ edit ]", edit_user_path(@user), class: "edit-link" %>
  <% end %></h3>
<table class="table table-striped">
  <tr>
    <th> Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Roles</th>
    <td>
      <% @user.roles.each do |role| %>
          <%= role %><br/>
      <% end %>
    </td>
  </tr>
</table>

<% if @user == @current_user %>
    <% unless @current_user.analyses.nil? %>
        <h3>Analyses</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Display Name</th>
            <th>Date Created</th>
            <th>Number of Structures</th>
            <th>Analysis Types</th>
            <th>Actions</th>

          </tr>
          </thead>
          <tbody>
          <% @current_user.analyses.each do |prov| %>
              <tr>
                <td><%= link_to prov.display_name, prov %></td>
                <td><%= prov.created_at %></td>
                <td><%= prov.structures.size %></td>
                <td>
                  <% unless prov.analysis_types.nil? %><%= prov.analysis_types.join(', ') %>
                  <% end %></td>
                <% if can? :update, prov %>
                    <td><%= link_to 'Edit', edit_analysis_path(prov) %>
                      | <%= link_to 'Destroy', prov, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>