<h2><% if can? :manage, :all %>All <% end %>Analyses</h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Display Name</th>
    <th>Analysis Types</th>
    <% if can? :manage, :all %><th>User</th><% end %>
    <th>Actions</th>

  </tr>
  </thead>
  <tbody>
  <% @analyses.each do |prov| %>
    <tr>
      <td><%= link_to prov.name, prov %></td>
      <td><%= prov.display_name %></td>
      <td><% unless prov.analysis_types.nil? %><%= prov.analysis_types.join(', ') %><% end %></td>
      <% if can? :manage, :all %><td><%=  prov.user.email %></td><% end %>
      <td><% if can? :update, prov %><%= link_to 'Edit', edit_analysis_path(prov) %><% end %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
