<%= bootstrap_form_for(@provenance, layout: :horizontal) do |f| %>
  <% if @provenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provenance.errors.count, "error") %> prohibited this provenance from being saved:</h2>

      <ul>
      <% @provenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.text_field :name, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :display_name, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :description, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :user_defined_id, control_col: 'col-sm-4' %>
  </fieldset>
  <fieldset>
    <%= f.text_field :user_created_date, control_col: 'col-sm-4' %>
  </fieldset>

  <%= f.form_group do %>
    <%= f.submit 'Update', class: 'btn btn-small btn-primary' %>
  <% end %>
<% end %>
