<%= form_for(@edifice) do |f| %>
  <% if @edifice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edifice.errors.count, "error") %> prohibited this edifice from being saved:</h2>

      <ul>
      <% @edifice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
  <ol>
  <li>
    <%= label_tag('Address') %>
    <%= text_field_tag('edifice[name]', @edifice.unique_name) %>
  </li>
  
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
