
  
<p class="home">DEnCity&ndash;DOE's Energy City&ndash;is a multi-purpose building energy simulation database.  The database contains high-level building
characteristics in the form of input models as well as accurate simulation results. DEnCity is designed to be large, public, open, and dynamic; 
it aims to make simulation data sharable so that it can be reused and repurposed by the building energy modeling community.  Through DEnCity, 
large-scale simulations can be facilitated by leveraging the raw data of previous analyses and applications.  
Simulation data contributions from large scale analyses are welcome to further grow the database.</p>
  
  
<img src="<%= asset_path 'graph.jpg' %>" alt="DenCity graph" />  
  
  
<p class="home-ctr">
  <%= link_to "View All Buildings", edifices_path %>

  <% if can? :manage, :users %> | <%= link_to "Search for your Building", inputs_path %><% end %>

 <% if can? :create_file_form, Simulation %> | <%= link_to "Create a Building", create_file_form_simulations_path %> <% end %>
</p>

<% if can? :manage, :users %>
<p class="home-ctr">
  Admins: <%= link_to "Manage Users", users_path %>
</p>
<% end %>