<h1>Simulated Buildings</h1>
<br/><br/>
<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @edifices.each do |edifice| %>
  <tr>
    <td><%= edifice.unique_name %></td>
    <td><% theuser = User.find(edifice.user_id) %><%= theuser.email %></td>
    <td><%= link_to 'Show', edifice %></td>
    <% if can? :manage, edifice %>
      <td><%= link_to 'Edit', edit_edifice_path(edifice) %></td>
      <td><%= link_to 'Destroy', edifice, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :manage, Edifice %>
  <%= link_to 'New Building', new_edifice_path %>
<% end %>