<h1>Simulated Buildings</h1>
<br/><br/>

<div id="search-box">
<%= form_tag({}, {:method => :get}) do %>

    <%= label_tag('uuid', 'Search for a building by UUID: ') %>
    <%= text_field_tag('uuid', @uuid, :maxlength => 50) %>
    <%= submit_tag('Search') %>

<% end %>
</div>

<div class="digg_pagination">
  <%= paginate @edifices %>
</div>
<br />
<p> The most recently added buildings are listed first.</p>
<br/>
<table cellpadding="5px">
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Created Timestamp</th>
    <th>Updated Timestamp</th>
    <th></th>
    <th></th>
  </tr>
  <% cnt = (@page.to_i-1)* @per %>

<% @edifices.each_with_index do |edifice, index| %>
  <tr>
    <td><%= cnt+index+1 %>. <%= link_to edifice.unique_name, edifice %></td>
    <td><% if !edifice[:user_id].nil? %><% theuser = User.find(edifice.user_id) %><%= theuser.email %><% end %></td>
    <td> <% if !edifice.created_at.nil? %><%= edifice.created_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></td>
    <td> <% if !edifice.updated_at.nil? %><%= edifice.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></td>
    <% if can? :manage, edifice %>
      <td><%= link_to 'Edit', edit_edifice_path(edifice) %></td>
      <td><%= link_to 'Destroy', edifice, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :manage, Edifice %>
  <%= link_to 'New Building', new_edifice_path %>
<% end %>

