<h1>Building: <%= @edifice.unique_name %> </h1>
<br/><br/>
<p> <b>Record ID: </b> <%= @edifice._id %></p>
<p><b>UUID: </b> <%= @edifice.uuid %></p>
<p> <b>Name: </b> <%= @edifice.unique_name %> </p>
<p> <b>User: </b> <% if !@edifice[:user_id].nil? %> <% theuser = User.find(@edifice.user_id) %><%= theuser.email %> (<%= @edifice.user_id %>) <% end %></p>
<p> <b>Created: </b> <% if !@edifice[:created_at].nil? %><%= @edifice.created_at.strftime("%Y-%m-%d %H:%M") %><% end %></p>
<p> <b>Updated: </b> <% if !@edifice[:updated_at].nil? %><%= @edifice.updated_at.strftime("%Y-%m-%d %H:%M") %><% end %></p>
<p> <b>Coordinates (lat, long): </b> <% if !@edifice[:coordinates].nil? %><%= @edifice.coordinates[1] %>, <%= @edifice.coordinates[0] %><% end %></p>
<br/>
<h2> Descriptors </h2>
<br/>

<% @descriptors.each do |d| %>

  <% if !@edifice[d.name].nil? %>
    <p> <b><%= d.name %>: </b> <%= @edifice[d.name] %> </p>
  <% end %>

<% end %>



<% if can? :update, @edifice %> <%= link_to 'Edit', edit_edifice_path(@edifice) %> | <% end %>
<%= link_to 'Back to All Buildings', edifices_path %>
