<h2>Sign in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal) do |f| %>
  <div id="error_explanation">
    <%= devise_error_messages! %>
  </div>
  <fieldset>
    <%= f.email_field :email, autofocus: true, control_col: "col-sm-4" %>
  </fieldset>

  <fieldset>
    <%= f.password_field :password, autocomplete: "off", control_col: "col-sm-4" %>
  </fieldset>

  <% if devise_mapping.rememberable? -%>
    <fieldset>
      <%= f.form_group :remember_me do %>
        <%= f.check_box :remember_me %>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit "Sign in", class:"btn btn-small btn-primary" %>
  <% end %>

  <%= f.form_group do %>
    <%= render "devise/shared/links" %>
  <% end %>
<% end %>




