<h2>Measure Instances</h2>
 <h3><%= @structure.provenance.name %></h3>
<table class="tablesorter table table-striped">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Version ID</th>
      <th>URI</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @measure_instances.each do |measure_instance| %>
      <tr>
        <td><%= link_to measure_instance.uuid, measure_instance %></td>
        <td><%= measure_instance.version_id %></td>
        <td><%= measure_instance.uri %></td>
        <td><% if can? :manage, measure_instance %><%= link_to 'Edit', edit_measure_instance_path(measure_instance) %> | <%= link_to 'Destroy', measure_instance, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure instance', new_structure_measure_instance_path %>
