<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= label(:unit, :name) %>
    <%= text_field(:unit, :name) %>
  </fieldset>
  <fieldset>
    <%= label(:unit, :machine_name) %>
    <%= text_field(:unit, :machine_name, disabled:true) %>
  </fieldset>
  <fieldset>
    <%= label(:unit, :type) %>
    <%= text_field(:unit, :type) %>
  </fieldset>
  <fieldset>
    <%= label(:unit, :symbol) %>
    <%= text_field(:unit, :symbol) %>
  </fieldset>
  <fieldset>
    <%= label(:unit, :symbol_alt, "Alternate Symbols") %>
    <%= text_field(:unit, :symbol_alt) %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
