<h2>Units <% if can? :manage, Unit %><%= link_to "[ add new unit ]", new_unit_path, class: "edit-link" %><% end %></h2>

<table class="tablesorter table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Display Name</th>
      <th>Type</th>
      <th>Symbol</th></th>
      <% if can? :manage, Unit %><th>Actions</th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit %></td>
        <td><%= unit.display_name %></td>
        <td><%= unit.type %></td>
        <td><%= unit.symbol %></td>
        <% if can? :manage, unit %><td><%= link_to 'Edit', edit_unit_path(unit) %> | <%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row-fluid">
  <div class="pad-20">
    <%= will_paginate @units %>
  </div>
</div>


