<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li <%= active_nav('Home') %>><%= link_to 'Home', root_path %></li>
        <li<%= active_nav('Buildings') %>><%= link_to 'Buildings', structures_path %></li>
        <li<%= active_nav('Metadata') %>><%= link_to 'Metadata', metas_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
