<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <% if !@title.nil? %>
    <title>DEnCity: <%=h @title %></title>
  <% else %>
    <% @title = "" %>
    <title>DEnCity</title>
  <% end %>
  <%= stylesheet_link_tag "nrel" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <!--stopindex-->
    <a href="#navend" class="hide">Skip navigation to main content.</a>
    
     <!--HEADER & BANNER -->
    <div id="nrelheader-bem-home"><img src="<%= asset_path 'density_header_nrel.gif' %>" alt="" width="1080" height="64" usemap="#nrelheader_map"/>
      <map name="nrelheader_map" id="nrelheader_map">
        <area shape="rect" coords="10,10,350,50" href="/" alt="BEMscape Home" />
        <area shape="rect" coords="915,7,1070,54" href="http://www.nrel.gov" alt="NREL Home" />
      </map>
    </div>
    
    <div id="top-subheader-bem">
      <div id="top-login-bem">
      <% if user_signed_in? %>
        <p class="top-text-bem"><%=link_to current_user.email, edit_user_registration_path %> | <%= link_to "Sign out", logout_path %></p>
      <% else %>        
        <p class="top-text-bem">Welcome Guest! &nbsp;&nbsp;  <%= link_to "Register", register_path %> | <%= link_to "Log in", login_path %></p>
      <% end %>
      </div>
    </div>

    <!--CONTENT START -->
    <div id="content-bem">
   
   
      <div id="notice">
        <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
        <% if flash[:alert] %><p class="alert"><%= flash[:alert] %></p><% end %>
        <% if flash[:error] %><p class="alert"><%= flash[:error] %></p><% end %>
        <% if flash[:message]%><p class="notice"><%= flash[:message] %></p><% end %>
      </div>


      <%= yield %>
    
    </div>
  </div>
</body>
</html>
